*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, sans-serif;
    background-color: rgb(8, 8, 117);


}

.main_body{
  background-color: rgb(18, 17, 17);
  height: 400px;
  text-align: center;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(164, 50, 50, 0.142), 0 6px 20px 0 rgba(174, 44, 44, 0.19);;
}

#result{

    width: 250px;
    height: 50px;
    border-radius: 5px;
    color: black;
    text-align: right;
    font-size: 25px;
}

input[type="button"]{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(104, 102, 102);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    
}

input[type="button"]:hover{
    background: rgb(162, 160, 160);
}

input[value='+'],
input[value='-'],
input[value='*'],
input[value='='],
input[value='/']{
    background-color: orange;
}

input[value='+']:hover,
input[value='-']:hover,
input[value='*']:hover,
input[value='=']:hover,
input[value='/']:hover{
    background-color: rgb(242, 193, 103);
}

input[value='Clear']{
    background-color: rgb(181, 0, 0);
    width: 200px;
   height: 30px;
   text-align: center;

}

input[value='Clear']:hover{
    background-color: red;
}

input[value='ON'],
input[value='OFF']{
    background-color: rgb(0, 165, 0);
    width: 100px;
    font-size: medium;
}

input[value='ON']:hover,
input[value='OFF']:hover{
    background: rgb(92, 255, 92);
}