*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 142, 152);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color:  burlywood;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 6px;
    /* font-weight: bold; */
}
input{
    border: none;
    border-radius: 2px;
    width: 250px;
    height: 30px;
    box-shadow: rgb(232, 158, 158) 1px 1px 2px 1px;
}

select{
    border: none;
    border-radius: 2px;
    color: rgb(14, 14, 14);
}

